/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #2a4e73;
    font-size: 15px;
    color: #1c532f;
}

p {
    font-size: 16px;
    line-height: 1.5;
}